
table#mitabla 
{
    border-collapse: collapse;
    border: 1px solid #CCC;
    font-size: 12px;
}
 
table#mitabla th 
{
    font-weight: bold;
    background-color: #E1E1E1;
    padding:5px;
}
 
table#mitabla tbody tr:hover td 
{
    background-color: #F3F3F3;
}
 
table#mitabla td 
{
    padding: 5px 10px;
}

#columna
{
    overflow: auto;
    width: 200px;
    height: 200px; /*establece la altura máxima, lo que no entre quedará por debajo y saldra la barra de scroll*/
}